# Set all these as Environment Variables in Render Dashboard
# Never commit real values to Git

SECRET_KEY=your-random-32-char-string
DEBUG=false

MYSQL_HOST=mysql-3dce1d9e-innosphere25-1da9.a.aivencloud.com
MYSQL_PORT=14019
MYSQL_DB=defaultdb
MYSQL_USER=avnadmin
MYSQL_PASSWORD=your-aiven-password

SMTP_EMAIL=innosphere25@gmail.com
SMTP_PASSWORD=your-gmail-app-password
ADMIN_EMAIL=innosphere.admin@gmail.com

GROQ_API_KEY=your-groq-key

CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
