{% extends "base.html" %}
{% block title %}Join Us{% endblock %}

{% block content %}
<h2>Join InnoSphere</h2>

<form method="POST">
    <label>Name</label><input name="name" required>
    <label>Email</label><input name="email" required>
    <label>Mobile</label><input name="mobile">
    <label>Designation</label><input name="designation">
    <label>Year</label><input name="year">
    <label>College</label><input name="college">
    <label>Department</label><input name="department">
    <label>Why do you want to join?</label><textarea name="reason"></textarea>
    <button class="btn btn-primary">Submit</button>
</form>
{% endblock %}
